@font-face {
    font-family: "vazir";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/font/Vazir-Regular-FD.woff") format("woff");
}

@font-face {
    font-family: "vazir";
    font-weight: 600;
    font-style: normal;
    src: url("/assets/font/Vazir-Medium-FD.woff") format("woff");
}

@font-face {
    font-family: "vazir";
    font-weight: 800;
    font-style: normal;
    src: url("/assets/font/Vazir-Bold-FD.woff") format("woff");
}

body,button{
    font-family: "vazir";  
}